.wordle {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Lucida Sans", "Lucida Sans Regular";
	font-size: 40px;
}

.word,
.submittedGuess {
	display: flex;
	justify-content: center;
}

.char {
	border: 3px solid var(--white);
	display: flex;
	height: 60px;
	width: 50px;
	margin: 5px;
	justify-content: center;
	align-items: center;
}

.guessedChar {
	border: 0;
	background-color: rgba(255, 255, 255, 0.2);
}

.correctChar {
	background-color: var(--green);
}

.presentChar {
	background-color: var(--yellow);
}

.message {
	margin-top: 20px;
	font-size: 24px;
	text-align: center;
}

.successMessage {
	margin-top: 20px;
	font-size: 24px;
	text-align: center;
}
