.wordle {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: monospace;
	font-size: 40px;
}

.boardPositioner {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.wordleBoard {
	position: relative;
	margin-bottom: 80px;
}

.word {
	display: flex;
	justify-content: center;
}

.message {
	font-size: 24px;
	left: 0;
	margin-top: 20px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 100%;
	width: 100%;
}

.char {
	border: 3px solid var(--white);
	display: flex;
	height: 60px;
	width: 50px;
	margin: 3px;
	justify-content: center;
	align-items: center;
}
