:root {
	--black: #040303;
	--white: #fafaff;
	--yellow: #ec9f05;
	--green: #9bc53d;
	--gray: #bebfc6;
	--dark-gray: #aba9b3;

	background-color: var(--black);
	color: var(--white);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
